<!DOCTYPE html>
<html lang="en">
<head>
    {HEADER}
    <title>Download '{FILENAME}'</title>
</head>
<body>
{NAVBAR}
<div class="text-center">
    <div class="display-2">{FILENAME} <small class="text-muted">({FILESIZE})</small></div>
</div>
<div class="container text-center">
    <div class="display-4"><span style="text-align: left">Download:</span><br><a style="font-size: 60%" class="btn btn-primary" href="/static/download/{FILENAME}">{FILENAME}</a></div>
    <h3>This is a static download</h3>
    <!--TODO {VIDEO}-->
</div>
</body>
</html>